---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Site Name: {{ site.title }}
Maintainer: {{ site.author }}
Converter: Codex

/* THEME CREDIT */
Original Theme: TryGhost Tribeca
Repository: https://github.com/TryGhost/Tribeca

/* TECHNOLOGY */
Built with: Eleventy 3.1.5, Handlebars, Luxon, ESM JavaScript
